@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.corpo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-family: "Playwrite IN", serif;
}

.decorativa {
    background-image: url(livros.gif);
    background-color: #cb9e62;
    background-size: 100%; /*Proporções do GIF */
    background-position: center; /* Centraliza o GIF */
    background-repeat: no-repeat; /* Evita repetição do GIF */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;

}

.decorativatexto {
    text-shadow: 0px 0px 5px #eb6a0d;


}

.acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

form {
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #cb9e62;
    color: white;
    padding: 10px 20px;
    border-radius: 15%;
    cursor: pointer;
}