@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.tema {
    background-color: #cb9e62;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100vh;
}

.titulo1{
    font-size: 2rem;
    padding: 20px;
}

.lista{
    font-size: 1rem;
}

.copy{
    font-size: 10px;
}

.titulo2 {
    padding: 2rem;
    display: flex;
}

form {
    width: 300px;
}

.corpo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    font-family: "Playwrite IN", serif;
    height: 100vh;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.nomes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nome1{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.nome2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 2px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.termos{
    font-size: 0.5rem;
    text-align: start;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
}

.rodape input{
    width: 10%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #cb9e62;
    color: white;
    padding: 7px 10px;
    border-radius: 15%;
    cursor: pointer;
}